<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neaflix</title>
    <link rel="stylesheet" type="text/css" href="../l_styles.css" />
  </head>

  <body>
    <div class="form-wrapper">
      <h2>로그인</h2>
      <form action="/sign-in" method="post">
        <div class="form-control">
          <input type="email" id="email" name="email" required />
          <label for="email">이메일</label>
        </div>
        <div class="form-control">
          <input type="password" id="password" name="password" required />
          <label for="password">비밀번호</label>
        </div>
        <button type="submit" id="loginButton">로그인</button>
        <div class="form-help">
          <div class="remember-me">
            <input type="checkbox" id="remember-me" name="remember-me" />
            <label for="remember-me">로그인 정보 저장</label>
          </div>
          <a href="/help">도움이 필요하신가요?</a>
        </div>
        <p>회원이 아니신가요? <a href="/signup">지금 가입하세요.</a></p>
      </form>
    </div>
  </body>
</html>
