<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게임스북</title>
    <link rel="stylesheet" type="text/css" href="/lstyles.css">
</head>

<div class="form-wrapper">
    <h2>환영합니다</h2>
    <form action="/sign-up" method="POST" enctype="multipart/form-data">
        <div class="form-control">
            <input type="text" id="name" name="name" required />
            <label>이름</label>
        </div>
        <div class="form-control">
            <input type="email" id="email" name="email" required />
            <label>이메일 주소</label>
        </div>
        <div class="form-control">
            <input type="password" id="password" name="password" required />
            <label>비밀번호</label>
        </div>
        <div class="form-control">
          <input type="password" id="Checkpass" name="Checkpass" required />
          <label>비밀번호 확인</label>
      </div>
      <div class="label_style">
        프로필 이미지:
        <input
            type="file"
            id="image"
            accept="image/*"
            name="profileimage"
            onchange="setThumbnail(event);"
        />
        <div id="image_container"></div>
        <button type="button" id="deleteButton" style="display: none">
            이미지 삭제
        </button>
    </div>
      <button id="startButton" href="/sign-token"  >시작하기</button>    
      <p>태성스북 회원이 아닌가요?<br><strong style="font-size: 1.05em;">지금 시작하세요.</strong></a></p>
    </form>
    <script src="../sign-up.js"></script>
</body>

</html>