<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게임스북</title>
    <link rel="stylesheet" type="text/css" href="../l_styles.css" />
  </head>

  <body>
    <div class="form-wrapper">
      <h2>로그인</h2>
      <form action="/sign-in" method="post">
        <div class="form-control">
          <input type="email" id="email" name="email" required />
          <label for="email">이메일</label>
        </div>
        <div class="form-control">
          <input type="password" id="password" name="password" required />
          <label for="password">비밀번호</label>
        </div>
        <form class="sign-form">
          <button type="submit" id="loginButton">로그인</button>
          <a href="/oauth">
            <img
              class="sign-image"
              src="../kakao-login.png"
              alt="카카오 로그인"
            />
          </a>
          <a href="/oauth/naver">
            <img
              class="sign-image"
              src="../naver-login.png"
              alt="네이버 로그인"
            />
          </a>
          <a href="/oauth/google">
            <img
              class="sign-image"
              src="../google-login.png"
              alt="구글 로그인"
            />
          </a>

          <div class="sign-text">
            <p>회원이 아니신가요? <a href="/sign-up">지금 가입하세요.</a></p>
          </div>
        </form>
      </form>
    </div>
  </body>
</html>
